doctype
html(lang="de")
	head
		title Stefan Löhers
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="robots" content="index, follow")
		//- Favicon

		meta(name="theme-color" content="#dbb01a")
		meta(name="msapplication-navbutton-color" content="#dbb01a")
		meta(name="apple-mobile-web-app-status-bar-style" content="#dbb01a")
		link(rel="apple-touch-icon", sizes="180x180", href="assets/favicon/apple-touch-icon.png")
		link(rel="icon", type="image/png", href="assets/favicon/favicon-32x32.png", sizes="32x32")
		link(rel="icon", type="image/png", href="assets/favicon/favicon-16x16.png", sizes="16x16")
		link(rel="manifest", href="assets/favicon/manifest.json")
		link(rel="mask-icon", href="assets/favicon/safari-pinned-tab.svg", color="#dbb01a")
		link(rel="shortcut icon", href="assets/favicon/favicon.ico")
		meta(name="apple-mobile-web-app-title", content="Stefan Löhers")
		meta(name="application-name", content="Stefan Löhers")
		meta(name="msapplication-config", content="assets/favicon/browserconfig.xml")
		//- /Favicon
		meta(name="description", content="Meine Visitenkarte im Netz: Ich bin leidenschaftlicher Full-Stack-Webdeveloper. Meine Lieblingsthemen sind React, Onlineshops, Docker, Kubernetes, Gulp.js und ES6. Dabei stets neue Wege zu gehen ist stets mein größtes Anliegen.")
		link(rel="stylesheet" href="assets/styles.css")
		link(rel="canonical" href="http://stefaan.de/")
	body
		include index/index
		//- script(src="assets/scripts.js")
