@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
	font-family: 'Ubuntu';
	background: #c0392b;
	color: #ffffff;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	margin: 0px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	height: 100%;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

	> div {
		background-size: cover;
		padding: 20px;
		line-height: 2em;
		background-position: center center;
		min-height: 300px;
		font-size: 28px;
	}
}

.logos {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	
	div {
		background-color: white;
		color: black;
		min-height: 120px;
		background-size: auto 60px;
		background-position: center 10%;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		font-size: 18px;
		border-radius: 20px;
	}
}

a {
	color: white;
	text-decoration: underline;
}

.social {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

	li {
		margin-right: 2px;
		text-align: center;
		display: inline-block;

		a {
			display: inline-block;
			border-radius: 100%;
			border: 2px solid white;
			// color: #33373d;
			height: 40px;
			width: 40px;

			&:hover {
				border-color: $primary;
				color: $primary;
			}

			i.fa {
				line-height: 25px;
				font-size: 25px;
				transform: translateY(-10px);
			}
		}
	}
}

