---
import Social from '../components/Social.astro';
import SocialLink from '../components/SocialLink.astro';
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Stefan Löhers</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#dbb01a" />
    <meta name="msapplication-navbutton-color" content="#dbb01a" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#dbb01a" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="assets/favicon/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="assets/favicon/favicon-16x16.png"
      sizes="16x16"
    />
    <link rel="manifest" href="assets/favicon/manifest.json" />
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#dbb01a" />
    <link rel="shortcut icon" href="assets/favicon/favicon.ico" />
    <meta name="apple-mobile-web-app-title" content="Stefan Löhers" />
    <meta name="application-name" content="Stefan Löhers" />
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml" />
    <meta
      name="description"
      content="Meine Visitenkarte im Netz: Ich bin leidenschaftlicher Full-Stack-Webdeveloper. Meine Lieblingsthemen sind React, Onlineshops, Docker und Kubernetes. Dabei stets neue Wege zu gehen ist stets mein größtes Anliegen."
    />
    <link rel="canonical" href="https://stefaan.de/" />
  </head>
  <body>
    <div
      style="background-image: url(assets/images/ich.jpg); background-position: left top"
    >
    </div>
    <div style="background-color: #1b3f4c">
      <img
        src="assets/images/stefan-white.svg"
        alt="Stefan Löhers Logo"
        style="height: 50px"
      />
      <div>Stefan Löhers</div>
      <div>&nbsp;</div>
      <div>Webentwickler und Papa</div>
    </div>
    <div style="background-image: url(assets/images/opus.png)"></div>
    <div style="background-color: #56191a">
      <div>OPUS</div>
      <div class="logos">
        <div style="background-image: url(assets/images/kubernetes.png)">Kubernetes</div>
        <div
          style="
          background-image: url(assets/images/vue.js.svg);
          background-size: 90%;
          background-position: center 30%;
        "
        >
          Vue.js
        </div>
        <div
          style="
            background-image: url(assets/images/typescript.svg);
            background-size: 100% 60%;
          "
        >
          TypeScript
        </div>
        <div style="background-image: url(assets/images/webpack.svg)">Webpack</div>
      </div>
    </div>
    <div style="background-image: url(assets/images/grohe.png)"></div>
    <div style="background-color: #13263a">
      <div>Grohe</div>
      <div class="logos">
        <div
          style="
            background-image: url(assets/images/vue.js.svg);
            background-size: 90%;
            background-position: center 30%;
          "
        >
          Vue.js
        </div>
        <div
          style="
            background-image: url(assets/images/typescript.svg);
            background-size: 100% 60%;
          "
        >
          TypeScript
        </div>
        <div style="background-image: url(assets/images/webpack.svg)">Webpack</div>
        <div style="background-image: url(assets/images/patternlab.png)">Patternlab</div>
      </div>
    </div>
    <div style="background-image: url(assets/images/efa.png)"></div>
    <div style="background-color: #cbd0c7">
      <div>efa</div>
      <div class="logos">
        <div
          style="
            background-image: url(assets/images/pimcore.svg);
            background-size: 90%;
            background-position: center 30%;
          "
        >
          Pimcore
        </div>
        <div style="background-image: url(assets/images/symfony.svg)">Symfony</div>
        <div style="background-image: url(assets/images/sass.png)">Sass</div>
        <div style="background-image: url(assets/images/bootstrap.png)">Bootstrap</div>
      </div>
    </div>
    <div style="background-image: url(assets/images/gerryweber.no.png)"></div>
    <div style="background-color: #363636">
      <div>gerryweber.no</div>
      <div class="logos">
        <div
          style="
            background-image: url(assets/images/pimcore.svg);
            background-size: 90%;
            background-position: center 30%;
          "
        >
          Pimcore
        </div>
        <div style="background-image: url(assets/images/symfony.svg)">Symfony</div>
        <div style="background-image: url(assets/images/sass.png)">Sass</div>
        <div style="background-image: url(assets/images/bootstrap.png)">Bootstrap</div>
      </div>
    </div>
    <div style="background-image: url(assets/images/framago.png)"></div>
    <div style="background-color: rgb(170, 0, 0)">
      <div>
        <a href="https://framago.de/" target="_blank" rel="noopener">framago.de</a>
      </div>
      <div class="logos">
        <div style="background-image: url(assets/images/react.png)">React.js</div>
        <div style="background-image: url(assets/images/woocommerce.png)">
          WooCommerce
        </div>
        <div style="background-image: url(assets/images/docker.png)">Docker</div>
        <div style="background-image: url(assets/images/kubernetes.png)">Kubernetes</div>
      </div>
    </div>
    <div style="background-image: url(assets/images/studiengang-bwl.png)"></div>
    <div style="background-color: #006eba">
      <div>
        <a href="https://studiengang-bwl.de/" target="_blank" rel="noopener"
          >studiengang-bwl.de</a
        >
      </div>
      <div class="logos">
        <div style="background-image: url(assets/images/modx.png)">ModX CMS</div>
        <div style="background-image: url(assets/images/gulp.png)">gulp.js</div>
        <div style="background-image: url(assets/images/bower.jpg)">Bower</div>
        <div style="background-image: url(assets/images/bootstrap.png)">Bootstrap</div>
      </div>
    </div>
    <div style="background-image: url(assets/images/steinnagel.png)"></div>
    <div style="background-color: #77b828">
      <div>steinnagel.com</div>
      <div class="logos">
        <div style="background-image: url(assets/images/modx.png)">ModX CMS</div>
      </div>
    </div>
    <div style="background-image: url(assets/images/taffi.png)"></div>
    <div style="background-color: #cf233b">
      <div>taffi-pizza.de</div>
      <div class="logos">
        <div style="background-image: url(assets/images/nodejs.png)">node.js</div>
        <div style="background-image: url(assets/images/facebook.png)">facebook</div>
      </div>
    </div>
    <div style="background-image: url(assets/images/haemmerling.png)"></div>
    <div style="background-color: #2e2e2c">
      <div>shop.haemmerling.de</div>
      <div class="logos">
        <div style="background-image: url(assets/images/magento.png)">Magento</div>
      </div>
    </div>
    <div style="background-image: url(assets/images/loehers.png)"></div>
    <div style="background-color: #25397d">
      <div>loehers.de</div>
      <div class="logos">
        <div style="background-image: url(assets/images/gulp.png)">gulp.js</div>
        <div style="background-image: url(assets/images/sass.png)">Sass</div>
        <div style="background-image: url(assets/images/bootstrap.png)">Bootstrap</div>
        <div style="background-image: url(assets/images/jade.jpg)">jade</div>
      </div>
    </div>
    <div style="background-image: url(assets/images/joliecreperie.png)"></div>
    <div style="background-color: #f2a114">
      <div>joliecreperie.de</div>
      <div class="logos">
        <div style="background-image: url(assets/images/gulp.png)">gulp.js</div>
        <div style="background-image: url(assets/images/sass.png)">Sass</div>
        <div style="background-image: url(assets/images/bootstrap.png)">Bootstrap</div>
        <div style="background-image: url(assets/images/pug.png)">pug.js</div>
      </div>
    </div>
    <div style="background-image: url(assets/images/galeriebedarf.png)"></div>
    <div style="background-color: #b9004f">
      <div>Rahmen-Konfigurator</div>
      <div class="logos">
        <div style="background-image: url(assets/images/magento.png)">Magento</div>
        <div style="background-image: url(assets/images/sass.png)">Sass</div>
        <div style="background-image: url(assets/images/gulp.png)">gulp.js</div>
        <div style="background-image: url(assets/images/browserify.png)">browserify</div>
      </div>
    </div>
    <div style="background-image: url(assets/images/bahn.png)"></div>
    <div style="background-color: #557b9a">
      <div>Bahn-Reservierung</div>
      <div class="logos">
        <div style="background-image: url(assets/images/gulp.png)">gulp.js</div>
        <div style="background-image: url(assets/images/react.png)">React.js</div>
        <div style="background-image: url(assets/images/nodejs.png)">node.js</div>
        <div style="background-image: url(assets/images/dropbox.png)">Dropbox</div>
      </div>
    </div>
    <div style="background-image: url(assets/images/studienportale.png)"></div>
    <div style="background-color: #303030">
      <div>
        <a href="https://studienportale.de/" target="_blank" rel="noopener"
          >studienportale.de</a
        >
      </div>
      <div class="logos">
        <div style="background-image: url(assets/images/netlify.png)">netlify</div>
      </div>
    </div>
    <div style="background-image: url(assets/images/wunsch-bilderrahmen.png)"></div>
    <div style="background-color: #005f79">
      <div>wunsch-bilderrahmen</div>
      <div class="logos">
        <div style="background-image: url(assets/images/magento.png)">Magento</div>
        <div style="background-image: url(assets/images/vagrant.png)">Vagrant</div>
        <div style="background-image: url(assets/images/capistrano.jpg)">Capistrano</div>
      </div>
    </div>
    <div style="background-image: url(assets/images/bakeryfood.png)"></div>
    <div style="background-color: #56191a">
      <div>bakery-food</div>
      <div class="logos">
        <div style="background-image: url(assets/images/grunt.png)">grunt</div>
      </div>
    </div>
    <div style="background-image: url(assets/images/me.jpg)"></div>
    <div style="background-color: #c0392b">
      <div>
        <div>
          <div>Stefan Löhers</div>
          <div>33649 Bielefeld</div>
        </div>
        <Social>
          <SocialLink
            url="//www.xing.com/profile/Stefan_Loehers"
            title="XING Profil"
            image="assets/images/xing.svg"
          />
          <SocialLink
            url="https://www.linkedin.com/in/stef2go"
            title="LinkedIn Profil"
            image="assets/images/linkedin.svg"
          />
          <SocialLink
            url="//github.com/stefpb"
            title="Github"
            image="assets/images/github.svg"
          />
          <SocialLink
            url="//t.me/stef2go"
            title="Telegram"
            image="assets/images/telegram.svg"
          />
          <SocialLink url="mailto" title="E-Mail" image="assets/images/email.svg" />
        </Social>
      </div>
    </div>
  </body>
</html>
<script is:inline>
  const maillink = document.querySelector('a[href="mailto"]');
  if (maillink) {
    maillink.setAttribute('href', 'mailt' + 'o:stef' + 'an@fra' + 'mago.de');
  }
</script>

<style lang="scss" is:global>
  :root {
    --primary: #dbb01a;
  }
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/ubuntu-v20-latin-regular.woff2') format('woff2');
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
  }
  body {
    font-family: 'Ubuntu';
    background: #c0392b;
    color: #ffffff;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    height: 100%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

    @media (min-width: 2001px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    @media (max-width: 2000px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    > div {
      background-size: cover;
      padding: 20px;
      line-height: 2em;
      background-position: center center;
      min-height: 300px;
      font-size: 28px;
    }
  }

  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    div {
      background-color: white;
      color: black;
      min-height: 120px;
      background-size: auto 60px;
      background-position: center 10%;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 18px;
      border-radius: 20px;
    }
  }

  a {
    color: white;
    text-decoration: underline;
  }
</style>
