div(style="background-image:url(assets/images/ich.jpg);background-position:left top;")
div(style="background-color:#1b3f4c;")
	img(src="assets/images/stefan-white.svg" style="height:50px")
	div Stefan Löhers
	div Webentwickler / Papa
	div &nbsp;
	div wohnhaft in Bielefeld
div(style="background-image:url(assets/images/grohe.png);")
div(style="background-color:#13263a;")
	div Grohe
	.logos
		div(style="background-image:url(assets/images/vue.js.svg);background-size:50%;background-position:center 30%;") Vue.js
		div(style="background-image:url(assets/images/webpack.svg);") Webpack
		div(style="background-image:url(assets/images/patternlab.png);") Patternlab
		div(style="background-image:url(assets/images/bootstrap.png);") Bootstrap

div(style="background-image:url(assets/images/efa.png);")
div(style="background-color:#cbd0c7;")
	div efa
	.logos
		div(style="background-image:url(assets/images/pimcore.svg);background-size:90%;background-position:center 30%;") Pimcore
		div(style="background-image:url(assets/images/symfony.svg);") Symfony
		div(style="background-image:url(assets/images/sass.png);") Sass
		div(style="background-image:url(assets/images/bootstrap.png);") Bootstrap

div(style="background-image:url(assets/images/gerryweber.no.png);")
div(style="background-color:#363636;")
	div gerryweber.no
	.logos
		div(style="background-image:url(assets/images/pimcore.svg);background-size:90%;background-position:center 30%;") Pimcore
		div(style="background-image:url(assets/images/symfony.svg);") Symfony
		div(style="background-image:url(assets/images/sass.png);") Sass
		div(style="background-image:url(assets/images/bootstrap.png);") Bootstrap


div(style="background-image:url(assets/images/framago.png);")
div(style="background-color:rgb(170, 0, 0);")
	div framago.de
	.logos
		div(style="background-image:url(assets/images/react.png);") React.js
		//- div(style="background-image:url(assets/images/wordpress.jpg);") WordPress
		div(style="background-image:url(assets/images/woocommerce.png);") WooCommerce
		div(style="background-image:url(assets/images/docker.png);") Docker
		div(style="background-image:url(assets/images/kubernetes.png);") Kubernetes


div(style="background-image:url(assets/images/studiengang-bwl.png);")
div(style="background-color:#006eba;")
	div studiengang-bwl.de
	.logos
		div(style="background-image:url(assets/images/modx.png);") ModX CMS
		div(style="background-image:url(assets/images/gulp.png);") gulp.js
		div(style="background-image:url(assets/images/bower.jpg);") Bower
		div(style="background-image:url(assets/images/bootstrap.png);") Bootstrap

div(style="background-image:url(assets/images/steinnagel.png);")
div(style="background-color:#77b828;")
	div steinnagel.com
	.logos
		div(style="background-image:url(assets/images/modx.png);") ModX CMS

div(style="background-image:url(assets/images/taffi.png);")
div(style="background-color:#cf233b;")
	div taffi-pizza.de
	.logos
		div(style="background-image:url(assets/images/nodejs.png);") node.js
		div(style="background-image:url(assets/images/facebook.png);") facebook

div(style="background-image:url(assets/images/haemmerling.png);")
div(style="background-color:#2e2e2c;")
	div shop.haemmerling.de
	.logos
		div(style="background-image:url(assets/images/magento.png);") Magento

div(style="background-image:url(assets/images/loehers.png);")
div(style="background-color:#25397D;")
	div loehers.de
	.logos
		div(style="background-image:url(assets/images/gulp.png);") gulp.js
		div(style="background-image:url(assets/images/sass.png);") Sass
		div(style="background-image:url(assets/images/bootstrap.png);") Bootstrap
		div(style="background-image:url(assets/images/jade.jpg);") jade

div(style="background-image:url(assets/images/joliecreperie.png);")
div(style="background-color:#f2a114;")
	div joliecreperie.de
	.logos
		div(style="background-image:url(assets/images/gulp.png);") gulp.js
		div(style="background-image:url(assets/images/sass.png);") Sass
		div(style="background-image:url(assets/images/bootstrap.png);") Bootstrap
		div(style="background-image:url(assets/images/pug.png);") pug.js

div(style="background-image:url(assets/images/galeriebedarf.png);")
div(style="background-color:#b9004f;")
	div Rahmen-Konfigurator
	.logos
		div(style="background-image:url(assets/images/magento.png);") Magento
		div(style="background-image:url(assets/images/sass.png);") Sass
		div(style="background-image:url(assets/images/gulp.png);") gulp.js
		div(style="background-image:url(assets/images/browserify.png);") browserify

div(style="background-image:url(assets/images/bahn.png);")
div(style="background-color:#557B9A;")
	div Bahn-Reservierung
	.logos
		div(style="background-image:url(assets/images/gulp.png);") gulp.js
		div(style="background-image:url(assets/images/react.png);") React.js
		div(style="background-image:url(assets/images/nodejs.png);") node.js
		div(style="background-image:url(assets/images/dropbox.png);") Dropbox

div(style="background-image:url(assets/images/studienportale.png);")
div(style="background-color:#303030;")
	div studienportale.de
	.logos
		div(style="background-image:url(assets/images/netlify.png);") netlify

div(style="background-image:url(assets/images/wunsch-bilderrahmen.png);")
div(style="background-color:#005f79;")
	div wunsch-bilderrahmen
	.logos
		div(style="background-image:url(assets/images/magento.png);") Magento
		div(style="background-image:url(assets/images/vagrant.png);") Vagrant
		div(style="background-image:url(assets/images/capistrano.jpg);") Capistrano


div(style="background-image:url(assets/images/bakeryfood.png);")
div(style="background-color:#56191a;")
	div bakery-food
	.logos
		div(style="background-image:url(assets/images/grunt.png);") grunt

div(style="background-image:url(assets/images/me.jpg);")
div(style="background-color:#c0392b;")
	div
		div
			div Stefan Löhers
			div Siemensstr. 5
			div 59590 Geseke
			div(style="font-size:12px;") USt-IdNr: DE815073784
		ul.social
			li
				a(href="https://www.xing.com/profile/Stefan_Loehers" target="_blank" title="XING Profil")
					i.fa.fa-xing
			li
				a(href="//fb.me/sloehers" target="_blank" title="Facebook Seite")
					i.fa.fa-facebook
			li
				a(href="//fb.com/msg/sloehers" target="_blank" title="Facebook Messenger")
					i.fa.fa-commenting
			li
				a(href="//github.com/stefpb" target="_blank" title="Github Account")
					i.fa.fa-github
			//- li
			//- 	a(href="skype:sloehers?chat" target="_blank" title="Skype Chat")
			//- 		i.fa.fa-skype
			li
				a(href="https://t.me/stef2go" target="_blank" title="Telegram Chat")
					i.fa.fa-telegram
			li
				<script>document.write('<a href="mailt' + 'o:stefan@fra' + 'mago.de" title="Email schreiben"><i class="fa fa-envelope"></i></a>')</script>
