.container
	.row
		.col-md-3.left-content
			header
				.main-header
					figure.img-profile
						img(src="assets/images/me.jpg")
						figcaption.name-profile.
							Stefan Löhers
					nav#main-nav.main-nav.clearfix.tabbed
						ul
							li.active
								a.active(href="#about")
									i.fa.fa-user
									| About
							li
								a(href="#portfolio")
									i.fa.fa-camera
									| Portfolio
							li
								a(href="#contact")
									i.fa.fa-envelope
									| Contact
				.button-header.bgWhite.ofsTSmall.ofsBSmall.tCenter
					ul.social
						li
							a(href="//fb.me/sloehers" target="_blank" title="Facebook Seite")
								i.fa.fa-facebook
						li
							a(href="//fb.com/msg/sloehers" target="_blank" title="Facebook Messenger")
								i.fa.fa-commenting
						li
							a(href="//github.com/stefpb" target="_blank" title="Github Account")
								i.fa.fa-github
						li
							a(href="skype:sloehers?chat" target="_blank" title="Skype Chat")
								i.fa.fa-skype
						li
							<script>document.write('<a href="mailt' + 'o:stefan@nov' + 'emo.de" title="Email schreiben"><i class="fa fa-envelope"></i></a>')</script>
		.col-md-9.right-content
			section#about.bgWhite.ofsInButton
				.about
					.main-title
						h1 Who am i
						.divider
							.zigzag.large.clearfix(data-svg-drawing="yes")
								svg(xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1")
									path(d="M1.357,12.26 10.807,2.81 20.328,12.332	29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793"  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;")
					.content
						.block-content.margBSmall
							.profile.margBSmall
								h1 Stefan Löhers
								h3 Web developer
							.row
								.col-md-6
									p.
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.col-md-6
									p.
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.block-content
							.info
								.row
									.col-md-6
										ul.info-list.clearfix
											li
												span.inf Name
												span.value Stefan Löhers
											li
												span.inf Date of birth
												span.value 27.11.1983
											li
												span.inf Address
												span.value August-Bebel-Str. 80, Bielefeld
									.col-md-6
										ul.info-list
											li
												span.inf E-Mail
												span.value bla@bla.de
											li
												span.inf Phone
												span.value +491715244881
											li
												span.inf Skype
												span.value sloehers
					.main-title
						h1 Skills
						.divider
							.zigzag.large.clearfix(data-svg-drawing="yes")
								svg(xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1")
									path(d="M1.357,12.26 10.807,2.81 20.328,12.332	29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793"  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;")
					.content
						.block-content.margBMedium
							.skill.coding
								.row
									.vc
										.col-md-11
											ul.skills-list.clearfix
												li
													h4 Magento
													.progress
														.percentage.
															95%
												li
													h4 EcmaScript 6 (Javascript)
													.progress
														.percentage.
															95%
												li
													h4 SASS / LESS / CSS
													.progress
														.percentage.
															90%
										.col-md-1
											.title.des
												span coding
						.block-content.margBMedium
							.skill.coding
								.row
									.vc
										.col-md-11
											ul.skills-list.clearfix
												li
													h4 Gulp.js
													.progress
														.percentage.
															95%
												li
													h4 Deployment (Gitlab-CI / Capistrano / Strider CD)
													.progress
														.percentage.
															95%
												li
													h4 Linux Administration
													.progress
														.percentage.
															95%
										.col-md-1
											.title.des
												span tools
						.block-content.margBMedium
							.skill.coding
								.row
									.vc
										.col-md-11
											ul.skills-list.clearfix
												li
													h4 Communication
													.progress
														.percentage.
															80%
												li
													h4 Leadership
													.progress
														.percentage.
															70%
												li
													h4 Smart
													.progress
														.percentage.
															98%
										.col-md-1
											.title.des
												span social


